#map { height: 500px; }

.image-container img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#result-images {
    width: 100%;
    margin-top: 1.5rem;
}

.juxtapose {
    max-width: 100%;
    height: 400px;
}

.juxtapose .jx-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#sliderContainer .juxtapose {
    height: 500px;
    width: 100%;
}

#sliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}